<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>For the future</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/simplex/bootstrap.min.css" integrity="sha384-FYrl2Nk72fpV6+l3Bymt1zZhnQFK75ipDqPXK0sOR0f/zeOSZ45/tKlsKucQyjSp" crossorigin="anonymous">

    </head>
    <body>
        <div class="container-fluid">
           <nav class="navbar navbar-dark bg-primary">
                <div class="text-center">
                    <h2>For the future</h2>
                </div>
           </nav>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="container">
                    <button class="add_input, btn btn-primary" onclick="add()">Добавить input</button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container">
                    <form action="/" method="post" id="form">
                        {% csrf_token %}
                        <div class="form-group" id="form-group">
                            {{ form }}
                        </div>

                    <button type="submit" class="btn btn-success" id="button-submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>

<!--        script for adding new name-->

        <script>
        var counter = 1;
        function add(){
            var input = document.createElement('input');
            var label = document.createElement('label');

            input.name = 'name' + counter;
            input.type = "text";
            input.id = "name" + counter;
            label.setAttribute("for","name" + counter);
            label.innerHTML = "name" + counter + ":";

            document.getElementById('form-group').appendChild(label);
            document.getElementById('form-group').appendChild(input);

            counter++;
        }
        </script>
    </body>

</html>