<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ready</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/simplex/bootstrap.min.css" integrity="sha384-FYrl2Nk72fpV6+l3Bymt1zZhnQFK75ipDqPXK0sOR0f/zeOSZ45/tKlsKucQyjSp" crossorigin="anonymous">

</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-primary">
            <div class="text-center">
                <h2>Тестовое задание</h2>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="container">
                {% for i in json_lst %}
                    {{i}}</br>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <a href="/" class="btn btn-success" id="button-submit">Test Task</a>
            </div>
        </div>
    </div>
</body>

</html>